body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #ff8c00;
  text-decoration: none;
  &:visited {
    color: #ff8c00;
  }
  &:hover {
    text-decoration: underline;
    color: #ff8c00;
    background-color: #ffffff;
  }
}

ul li {
  list-style: square;
}

nav ul li {
  list-style: none;
  float: left;
  margin: 10px;
}

.clear_b {
  clear: both;
}

aside {
  float: left;
  width: 20%;
}

article {
  float: left;
  width: 80%;
}